/* Estoy arto de programar, hubiera sido albañil */

body {
  background-image: url("fondo.png");
  background-size: cover;
}

.Org-Header {
  width: 100%;
  height: auto;
  background: #F0F0F0;
  display: flex;
  justify-content: space-around;

}

.Org-Central,
.Org-DB,
.Org-C,
.Org-Ch,
.Org-Esc,
.Org-Min{
  
  height: auto;
  width: auto;
}

.Org-Central h2,
.Org-DB h2,
.Org-C h2,
.Org-Ch h2,
.Org-Esc h2,
.Org-Min h2{
  font-size: 15px;
}

.Org-Logo img{
  height: 50px;
}
.orgchart {
  background: none; /* Establece el fondo del organigrama como transparente */
}

.orgchart .orgchart-line,
.orgchart .orgchart-canvas .oc-export-pdf,
.orgchart .orgchart-canvas .oc-export-svg {
  stroke: none; /* Quita las líneas de conexión entre los nodos */
}

#chart-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow: hidden; /* Evita que el contenido se desborde */
  position: relative;
}

#chart-container {
  width: 100%;
  height: 100%;
  overflow: auto; /* Agrega scroll automático */
  position: relative;
}

.orgchart {
  width: 100%;
  height: 100%;
}

.orgchart-node {
  text-align: center;
}

.orgchart-node-info {
  background-color: #99212B;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.orgchart-node-department-title {
  background-color: #99212B;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.orgchart-node-name,
.orgchart-node-title,
.orgchart-node-phrase {
  font-weight: bold;
  color: white;
  font-size: 12px;
}

.orgchart-node-phrase {
  margin-top: 5px;
}

.orgchart-node img {
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Asegura que las imágenes se escalen y se recorten para llenar el área */
  border-radius: 50%; /* Opcional: Hace que las imágenes sean redondas */
}

/* Modal Styles */

/*Para el contenido fuera del modal*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


/*Contenido dentro del modal*/
.modal-content {
  background-color: #99212B;
  margin: 5% auto; 
  /* padding: 20px; */
  border-radius: 20px;
  width: 30%; 
  text-align: center;
}


/*Para cerrar el modal*/
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


/*Para el hover y focus que cierra */
.close:hover,
.close:focus {
  color: rgb(241, 241, 241);
  text-decoration: none;
  cursor: pointer;
}


/*Para las imagenes*/
#modal-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


/*Para los titulos*/
#modal-name, #modal-title, #modal-phrase {
  margin-top: 10px;
  font-size: 25px;
  font-weight:700;
}


/*DARLE AL MODAL-IMAGE , MODAL-NAME UN BACKGRUND Y QUITARLE
EL PADDING AL MODAL ORIGINAL PARA QUE TENGAN EL 100% Y DE EFECTO
DIFERENTE */


#modal-name,
#modal-title{
  color: white;
}


#modal-phrase{
  background: #000000;
  color: white;
}